@using Microsoft.AspNetCore.Http
@model GreenBD_Dairy.Models.Doctors

@{
    ViewData["Title"] = "Details";
}


<html>
<head>
    <link href="~/css/Create-Edit-Delete-StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-heding">
        <marquee><p>Welcome<span style="color: #ffcc00">! </span> <span style="color: #FFCC00">@@</span><span style="color: #FFCC00"> @Context.Session.GetString("username")</span> for Reading Doctors Information</p></marquee>
    </div>
    <div class="container">
        <section>
            <div class="create-form">
                <div class="row" id="create-form-id">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DoctorName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DoctorName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VisitFee)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VisitFee)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Profile)
                        </dt>
                        <dd>
                            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Profile)" class="img-responsive" width="50px" height="50px" />
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SpecialistType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SpecialistType.SpecialistTypeName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ManagerSignature)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ManagerSignature)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EntryDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EntryDate)
                        </dd>
                    </dl>
                    <hr />
                    <div>
                        <a asp-action="Index" class="btn btn-info">Back to List</a>
                        <a asp-action="Edit" class="btn btn-danger" asp-route-id="@Model.DoctorId">Edit</a>
                    </div>
                    <br />
                </div>
            </div>
        </section>
    </div>
</body>
</html>
