@model GreenBD_Dairy.Models.TransportType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransportType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransportTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransportTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerSignature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerSignature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransportTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
