@using Microsoft.AspNetCore.Http
@model GreenBD_Dairy.Models.OthersPayment

@{
    ViewData["Title"] = "Delete";
}


<html>
<head>
    <link href="~/css/Create-Edit-Delete-StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-heding">
        <marquee><p>Welcome<span style="color: #ffcc00">! </span> <span style="color: #FFCC00">@@</span><span style="color: #FFCC00"> @Context.Session.GetString("username")</span> Are you sure to Delete this Record? from Others Payment</p></marquee>
    </div>
    <div class="container">
        <section>
            <div class="create-form">
                <div class="row" id="create-form-id">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Gender.GenderName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Rank)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Rank.RankName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.NID)
                        </dt>
                        <dd>
                            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.NID))" class="img-responsive" width="50px" height="100px" />
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd>
                            <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Image))" class="img-responsive" width="50px" height="100px" />
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Amount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Amount)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AmountSign)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AmountSign.AmountSignName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ManagerSignature)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ManagerSignature)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EntryDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EntryDate)
                        </dd>
                    </dl>
                    <hr />
                    <div>
                        <form asp-action="Delete">
                            <a asp-action="Index" class="btn btn-info">Back to List</a>
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                    <br />
                </div>
            </div>
        </section>
    </div>
</body>
</html>
